<script lang="ts">
	import { get_stock, Bean } from '$lib';

	let beans: Array<Bean> = new Array();

	(async () => {
		try {
			beans = await get_stock();
		} catch (err) {
			console.error(`Problem getting beans in stock ${err}`);
		}
		console.log(beans);
	})();
</script>

<table id="stock">
	<tr id="stock-table-headers">
		<th>Bean Country</th>
		<th>Amount in stock</th>
	</tr>

	{#each beans as bean}
		<tr>
			<td>{bean?.name}</td>
			<td>{bean?.amount_in_stock} oz</td>
		</tr>
	{/each}
</table>

<div id="bg-image" />

<style>
	#stock {
		width: clamp(10rem, 35%, 40rem);
		height: clamp(10rem, 30%, 40rem);
		font-size: large;
		text-align: center;
		background-color: rgb(170, 82, 0);
		border-radius: 25px;
		border-collapse: collapse;
		margin-left: 10rem;
		position: relative;
		justify-content: center;
	}

	#stock-table-headers {
		font-family: cursive;
		font-size: xx-large;
		border-bottom: 2px solid black;
		height: 60px;
		position: relative;
		border-radius: 25px;
	}

	tr {
		margin: 4px;
	}

	#bg-image {
		position: fixed;
		height: 100%;
		width: 100%;
		background-image: url('/images/cafe.jpg');
		background-size: 100% 100%;
		background-position: center;
		top: 0;
		z-index: -1;
	}
</style>
