<h1>About us</h1>
<div class="description">
	<p>We roast our coffee and wait 2-3 days before serving to ensure optimal freshness</p>
	<p>We take pride in sourcing our beans from ethical sources</p>
</div>

<div id="bg-image" />

<style>
	:root {
		text-align: center;
	}

	#bg-image {
		background-image: url('/images/beans.jpg');
		height: 100%;
		width: 100%;
		position: fixed;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
		top: 0;
		z-index: -1;
	}

	.description {
		font-size: 30px;
		font-family: cursive;
	}
</style>
