<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/stock">Stock</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</nav>

<style>
	ul {
		display: block;
		list-style: none;
		overflow: hidden;
		background-color: #333;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		widows: 100%;
	}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
		background-color: #111;
	}
</style>
